<h2>jQuery Color - Git Builds</h2>
<p>UNSTABLE, NOT FOR PRODUCTION</p>

<ul>
	<li>
		jQuery Color git build -
		<a href="/color/jquery.color-git.js">uncompressed</a>
	</li>
	<li>
		jQuery Color SVG Color Names git build -
		<a href="/color/jquery.color.svg-names-git.js">uncompressed</a>
	</li>
	<li>
		jQuery Color With Names (last two together) git build -
		<a href="/color/jquery.color.plus-names-git.js">uncompressed</a>
	</li>
</ul>
