<ul>
	<li>{{release "jQuery Color" this}}</li>
	{{#if svgNames}}
		<li>{{release "jQuery Color SVG Color Names" svgNames}}</li>
	{{/if}}
	{{#if plusNames}}
		<li>{{release "jQuery Color With Names (last two together)" plusNames}}</li>
	{{/if}}
</ul>
