<script>{
	"title": "jQuery Color - All Versions"
}</script>

{{include "color-git"}}

<h2>jQuery Color - All Versions</h2>
{{#each color.all}}
	<h3>{{version}}</h3>
	{{include "color-release"}}
{{/each}}
