<script>{
	"title": "jQuery Core - All Versions"
}</script>

{{include "jquery-git"}}

{{#with jquery2}}
<h2>jQuery Core - All 2.x Versions</h2>
<ul>
{{#each all}}
	<li>{{release "jQuery Core" this}}</li>
{{/each}}
</ul>
{{/with}}

{{#with jquery1}}
<h2>jQuery Core - All 1.x Versions</h2>
<ul>
{{#each all}}
	<li>{{release "jQuery Core" this}}</li>
{{/each}}
</ul>
{{/with}}

{{#with migrate}}
<h2>jQuery Migrate - All Versions</h2>
<ul>
{{#each all}}
	<li>{{release "jQuery Migrate" this}}</li>
{{/each}}
</ul>
{{/with}}
