<h2>jQuery Core &amp; Migrate - Git Builds</h2>
<p>UNSTABLE, NOT FOR PRODUCTION</p>

<ul>
	<li>
		jQuery git build</a> -
		<a href="/jquery-git.js">uncompressed</a>,
		<a href="/jquery-git.min.js">minified</a>
	</li>
	<li>
		jQuery 2.x git build</a> -
		<a href="/jquery-2.x-git.js">uncompressed</a>,
		<a href="/jquery-2.x-git.min.js">minified</a>
	</li>
	<li>
		jQuery 1.x git build</a> -
		<a href="/jquery-1.x-git.js">uncompressed</a>,
		<a href="/jquery-1.x-git.min.js">minified</a>
	</li>
	<li>
		jQuery Migrate git build</a> -
		<a href="/jquery-migrate-git.js">uncompressed</a>,
		<a href="/jquery-migrate-git.min.js">minified</a>
	</li>
</ul>
