<h2>jQuery Core &amp; Migrate - Git Builds</h2>
<p>UNSTABLE, NOT FOR PRODUCTION</p>

<ul>
	<li>
		jQuery git build</a> -
		<a href="/git/jquery-git.js">uncompressed</a>,
		<a href="/git/jquery-git.min.js">minified</a>,
		<a href="/git/jquery-git.slim.js">slim</a>,
		<a href="/git/jquery-git.slim.min.js">slim minified</a>
		<a href="/git/jquery-git.module.js">uncompressed (module)</a>,
		<a href="/git/jquery-git.module.min.js">minified (module)</a>,
		<a href="/git/jquery-git.slim.module.js">slim (module)</a>,
		<a href="/git/jquery-git.slim.module.min.js">slim minified (module)</a>
	</li>
	<li>
		jQuery 3.x git build</a> -
		<a href="/git/jquery-3.x-git.js">uncompressed</a>,
		<a href="/git/jquery-3.x-git.min.js">minified</a>,
		<a href="/git/jquery-3.x-git.slim.js">slim</a>,
		<a href="/git/jquery-3.x-git.slim.min.js">slim minified</a>
	</li>
	<li>
		jQuery Migrate git build</a> -
		<a href="/git/jquery-migrate-git.js">uncompressed</a>,
		<a href="/git/jquery-migrate-git.min.js">minified</a>
	</li>
</ul>
