<h2>jQuery Mobile - Git Builds</h2>
<p>UNSTABLE, NOT FOR PRODUCTION</p>

<ul>
	<li>
		jQuery Mobile git build -
		<a href="/mobile/git/jquery.mobile-git.js">uncompressed</a>,
		<a href="/mobile/git/jquery.moblie-git.min.js">minfied</a>,
		<a href="/mobile/git/jquery.mobilt-git.css">theme</a>
		(<a href="/mobile/git/jquery.mobile-git.min.css">minified</a>)
	</li>
</ul>
