<h2>jQuery UI - Git Builds</h2>
<p>UNSTABLE, NOT FOR PRODUCTION</p>

<ul>
	<li>
		jQuery UI git build</a> -
		<a href="/ui/jquery-ui-git.js">uncompressed</a>,
		<a href="/ui/jquery-ui-git.css">theme</a>
	</li>
</ul>
