<h3>jQuery UI {{major}}</h3>
{{#with latestStable}}
<ul>
	<li>{{release "jQuery UI" this}}</li>
	<li>Themes:
		{{#each themes}}
			{{cdnLink (concat5 "ui/" ../version "/themes/" this "/jquery-ui.css") this}}
		{{/each}}
	</li>
</ul>
{{/with}}
